<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/images/favicons/apple-touch-icon.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/images/favicons/favicon-32x32.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/images/favicons/favicon-16x16.png" | relative_url }}">
    <link rel="mask-icon" href="{{ "/images/favicons/safari-pinned-tab.svg" | relative_url }}" color="#5bbad5">

    {% include amp/meta.html %}

    <link rel="stylesheet" href="{{site.github.url}}/css/main.css">
    <meta name="theme-color" content="#424242">

    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,700,900|Karla:400,700|Source+Sans+Pro:300,400,600,700|Source+Serif+Pro:300,400,600,700|Source+Code+Pro:300|Poppins:300,400,500,600,700|Muli:300,400,600,700,800,900" rel="stylesheet">

</head>
